.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Bootstrap
      .nav-collapse
        ul.nav
          li.active
            a(href='/example1') Example1
          li
            a(href='/example2') Example2
          li
            a(href='/example3') Example3