.container
    header.jumbotron.masthead
        .inner
          h1 Bootstrap, from Twitter
          p
            | Simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions.
          p.download-info
            a.btn.btn-primary.btn-large(href='https://github.com/twitter/bootstrap/') View project on GitHub
            a.btn.btn-large(href='assets/bootstrap.zip')
              | Download Bootstrap
              small (v2.0.2)
        .bs-links
          ul.quick-links
            li
              a(href='./upgrading.html') Upgrading from 1.4
            li
              a(href='https://github.com/twitter/bootstrap/zipball/master') Download with docs
            li
              a(href='https://github.com/twitter/bootstrap/issues?state=open') Submit issues
            li
              a(href='https://github.com/twitter/bootstrap/wiki') Roadmap and changelog
          ul.quick-links
            li
              iframe.github-btn(src='http://markdotto.github.com/github-buttons/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='112px', height='20px')
            li
              iframe.github-btn(src='http://markdotto.github.com/github-buttons/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='98px', height='20px')
            li.follow-btn
              a.twitter-follow-button(href='https://twitter.com/twbootstrap', data-link-color='#0069D6', data-show-count='true') Follow @twbootstrap
            li.tweet-btn
              a.twitter-share-button(href='https://twitter.com/share', data-url='http://twitter.github.com/bootstrap/', data-count='horizontal', data-via='twbootstrap', data-related='mdo:Creator of Twitter Bootstrap') Tweet
      hr.soften
      .marketing
        h1 Designed for everyone, everywhere.
        p.marketing-byline Need reasons to love Bootstrap? Look no further.
        .row
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_042_group.png')
            h2 Built for and by nerds
            p
              | Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. Bootstrap is built for you.
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_079_podium.png')
            h2 For all skill levels
            p
              | Bootstrap is designed to help people of all skill levels—designer or developer, huge nerd or early beginner. Use it as a complete kit or use to start something more complex.
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_163_iphone.png')
            h2 Cross-everything
            p
              | Originally built with only modern browsers in mind, Bootstrap has evolved to include support for all major browsers (even IE7!) and, with Bootstrap 2, tablets and smartphones, too.
        .row
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_155_show_thumbnails.png')
            h2 12-column grid
            p
              | Grid systems aren't everything, but having a durable and flexible one at the core of your work can make development much simpler. Use our built-in grid classes or roll your own.
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_214_resize_small.png')
            h2 Responsive design
            p
              | With Bootstrap 2, we've gone fully responsive. Our components are scaled according to a range of resolutions and devices to provide a consistent experience, no matter what.
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_266_book_open.png')
            h2 Styleguide docs
            p
              | Unlike other front-end toolkits, Bootstrap was designed first and foremost as a styleguide to document not only our features, but best practices and living, coded examples.
        .row
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_082_roundabout.png')
            h2 Growing library
            p
              | Despite being only 10kb (gzipped), Bootstrap is one of the most complete front-end toolkits out there with dozens of fully functional components ready to be put to use.
          .span4
            img.bs-icon(src='assets/img/glyphicons/glyphicons_009_magic.png')
            h2 Custom jQuery plugins
            p
              | What good is an awesome design component without easy-to-use, proper, and extensible interactions? With Bootstrap, you get custom-built jQuery plugins to bring your projects to life.
          .span4
            img.bs-icon(src='assets/img/less-small.png')
            h2 Built on LESS
            p
              | Where vanilla CSS falters, LESS excels. Variables, nesting, operations, and mixins in LESS makes coding CSS faster and more efficient with minimal overhead.
        .row
          .span3
            img.small-bs-icon(src='assets/img/icon-html5.png')
            h3 HTML5
            p Built to support new HTML5 elements and syntax.
          .span3
            img.small-bs-icon(src='assets/img/icon-css3.png')
            h3 CSS3
            p Progressively enhanced components for ultimate style.
          .span3
            img.small-bs-icon(src='assets/img/icon-github.png')
            h3 Open-source
            p
              | Built for and maintained by the community via
              a(href='https://github.com') GitHub
              | .
          .span3
            img.small-bs-icon(src='assets/img/icon-twitter.png')
            h3 Made at Twitter
            p
              | Brought to you by an experienced
              a(href='http://twitter.com/fat') engineer
              | and
              a(href='http://twitter.com/mdo') designer
              | .
        hr.soften
        h1 Built with Bootstrap.
        p.marketing-byline
          | For even more sites built with Bootstrap,
          a(href='http://builtwithbootstrap.tumblr.com/', target='_blank') visit the unofficial Tumblr
          | or
          a(href='./examples.html') browse the examples
          | .
        ul.thumbnails.example-sites
          li.span3
            a.thumbnail(href='http://soundready.fm/', target='_blank')
              img(src='assets/img/example-sites/soundready.png', alt='SoundReady.fm')
          li.span3
            a.thumbnail(href='http://kippt.com/', target='_blank')
              img(src='assets/img/example-sites/kippt.png', alt='Kippt')
          li.span3
            a.thumbnail(href='http://www.fleetio.com/', target='_blank')
              img(src='assets/img/example-sites/fleetio.png', alt='Fleetio')
          li.span3
            a.thumbnail(href='http://www.jshint.com/', target='_blank')
              img(src='assets/img/example-sites/jshint.png', alt='JS Hint')
      footer.footer
        p.pull-right
          a(href='#') Back to top
        p
          | Designed and built with all the love in the world
          a(href='http://twitter.com/twitter', target='_blank') @twitter
          | by
          a(href='http://twitter.com/mdo', target='_blank') @mdo
          | and
          a(href='http://twitter.com/fat', target='_blank') @fat
          | .
        p
          | Code licensed under the
          a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
          | . Documentation licensed under
          a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
          | .
        p
          | Icons from
          a(href='http://glyphicons.com') Glyphicons Free
          | , licensed under
          a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
          | .
    script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
    script(src='assets/js/jquery.js')
    script(src='assets/js/google-code-prettify/prettify.js')
    script(src='assets/js/bootstrap-transition.js')
    script(src='assets/js/bootstrap-alert.js')
    script(src='assets/js/bootstrap-modal.js')
    script(src='assets/js/bootstrap-dropdown.js')
    script(src='assets/js/bootstrap-scrollspy.js')
    script(src='assets/js/bootstrap-tab.js')
    script(src='assets/js/bootstrap-tooltip.js')
    script(src='assets/js/bootstrap-popover.js')
    script(src='assets/js/bootstrap-button.js')
    script(src='assets/js/bootstrap-collapse.js')
    script(src='assets/js/bootstrap-carousel.js')
    script(src='assets/js/bootstrap-typeahead.js')
    script(src='assets/js/application.js')


